MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/brew4you?retryWrites=true&w=majority
ADMIN_SECRET=supersecretadminpass
NEXT_PUBLIC_WHATSAPP=923205950705
NEXT_PUBLIC_PHONE=+923205950705
NEXT_PUBLIC_SITE_URL=https://9bar.coffee
