MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/brew4you?retryWrites=true&w=majority
ADMIN_SECRET=supersecretadminpass
NEXT_PUBLIC_WHATSAPP=+923XXXXXXXXX
NEXT_PUBLIC_PHONE=+923XXXXXXXXX
NEXT_PUBLIC_SITE_URL=https://brew4you.com
